@{
}
@model BooksViewModel

<h1>@ViewBag.Calc</h1>


@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b" /> // go look for Project Summary. Send "b"
}

<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>

